@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.eot");
	src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"),
		url("../fonts/Lato-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Italic.eot");
	src: local("☺"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype"),
		url("../fonts/Lato-Italic.svg") format("svg");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.eot");
	src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"),
		url("../fonts/Lato-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
