.footer {
	padding: 100px 0;
	background-color: #f7f7f7;

	&__row {
		display: flex;
		align-items: center;
	}

	&__column {
		flex: 0 1 33.333%;
	}

	&__address {
		padding: 0 20px 0 0;
		font-style: 14px;
		list-style: 18px;
		color: #848789;

		p:first-child {
			font-weight: 700;
		}
	}

	// &__social {
	// }

	// &__copyright {
	// }

	@media (max-width: 1100px) {
		padding: 50px 0;
	}

	@media (max-width: 600px) {
		padding: 30px 0;

		&__row {
			flex-direction: column;
			text-align: center;
		}

		&__address {
			padding: 0;
		}

		&__social {
			margin: 20px 0;
		}
	}
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;

	&__link {
		margin: 0 7.5px;
	}
}
.copyright {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__text {
		padding: 0 9px 0 0;
		font-size: 14px;
		font-style: italic;
		color: #848789;
	}

	// &__icon {
	// }
}
